[part~="bold"] {
  font-weight: bold
}

[part~="green"] {
  background-color: var(--lumo-success-color-10pct);
}

[part~="red"] {
  background-color: var(--lumo-error-color-10pct);
}

[part~="grey"] {
  background-color: var(--lumo-contrast-5pct);
}
